<% keluarga.forEach(keluarga => { %>
<div
  class="modal fade"
  id="delete<%= keluarga.id %>"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="deleteLabel">
          <i class="bi bi-chevron-right"></i> Hapus Keluarga
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Yakin ingin menghapus <span class="text-danger">keluarga</span>?</p>
      </div>
      <div class="modal-footer">
        <form action="/keluarga?_method=delete" method="post">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Batal
          </button>

          <input type="hidden" name="id" value="<%= keluarga.id %>" />

          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Hapus
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<% }) %>
