<p class="fs-3 fw-semibold mt-5 mb-3 text-center">
  Total Keluarga Terdata : <%= count %>
</p>

<%- include('./component/signin/chart') %>
<!--  -->
<%# include('./component/signin/table') %>
<!--  -->
<%- include('./component/signin/maps') %>
<!--  -->
